





}
div.meny{
     background-color: #91C4F2;
     grid-area: meny;
     text-align: center;
 }
.meny ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: solid 2px whitesmoke;
    max-width: 400px;
}

.meny ul a {
    padding: 10px 30px;
    border-radius: 5px;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;

}
.meny ul li {
    display: inline;
}

.meny ul a:hover {
    background-color: blue;
}

div.grid{
    display: grid;
    grid-template-areas:
            "meny"
            "pakker";
}

body{
    background:teal;
    margin: 0
}

h1{
    font-family: yantramanav, sans-serif;
    font-weight: 500;
    font-size: 200;
    color: white;
    text-align: center;
}
h2{
    font-family: yantramanav, sans-serif;
    font-weight: 500;
    font-size: 200;
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    max-width: 500px;
    margin: auto;
    color: black;
}

h2:hover{
    border: 5px solid yellowgreen;
    color: yellowgreen;
    font-size: 150%;
}




@media (min-width: 500px;) {
    .meny {
        flex-direction: row;
    }

    div.grid {
        grid-template-columns: 2fr 2fr;
        grid-template-areas:
                "meny meny"
                "pakker pakker";
    }
}



}